.tabla{
background: #444;
color: antiquewhite;
padding: 10px;
}
.encabezados{

    background: #cfd2d4;
    border-radius: 50px;
    margin: 2px;
    text-align: center;
    padding: 10px;
    color: #0a0808;
    }